<!-- task_manager/templates/projects/show_project.html -->
{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">
  <h1 class="my-4">
  {% trans "Project view" %}
  </h1>
  <div class="card">
    <div class="card-header bg-secondary text-white">
      <h2>{{ project.name }}</h2>
    </div>
    <div class="card-body bg-light">
      <p>{{ project.description }}</p>
      <hr>
      
      <div class="container">
        <div class="row p-1">
          <div class="col">{{ project.author.get_full_name|default:project.author.username|default:"-" }}</div>
        </div>
        <div class="row p-1">
          <div class="col">{% trans "Executor" %}</div>
          <div class="col">
            {% if project.executor %}
              {{ project.executor.get_full_name|default:project.executor.username }}
            {% else %}
              {% trans "No executor has been appointed" %}
            {% endif %}
          </div>
        </div>
        <div class="row p-1">
          <div class="col">{% trans "Status" %}</div>
          <div class="col">{{ project.status }}</div>
        </div>
        <div class="row p-1">
          <div class="col">{% trans "Creation date" %}</div>
          <div class="col">{{ project.created_at|date:"d.m.Y H:i" }}</div>
        </div>
        <div class="row p-1">
          <div class="col">
            <h6>{% trans "Labels" %}</h6>
            <ul>
              {% for label in project.labels.all %}
                <li>{{ label.name }}</li> 
              {% endfor %}          
            </ul>
          </div>
        </div>
        <div class="row p-1">
          <div class="col">
            <a href="{% url 'projects:update' project.pk %}">{% trans "Edit" %}</a>
            <br>
            <a href="{% url 'projects:delete' project.pk %}">{% trans "Delete" %}</a>
          </div>
        </div>
      </div>   
    </div>
  </div>
</div>

<hr>

<div class="container wrapper flex-grow-1">    
  <h2>{% trans "Tasks" %}</h2>
  <a class="btn btn-primary mb-3" href="{% url 'tasks:create' %}">{% trans "Create task" %}</a>
  <table class="table table-striped mt-2">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Author" %}</th>
        <th>{% trans "Executor" %}</th>
        <th>{% trans "Creation date / Updated" %}</th>
        <th>---</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for task in project.tasks_project.all %}
        <tr>
          <td>{{ task.id }}</td>
          <td>
            <a href="{% url 'tasks:task' task.pk %}">{{ task.name }}</a>
          </td>
          <td>{{ task.status }}</td>
          <td>{{ task.author }}</td>
          <td>{{ task.executor }}</td>
          <td>{{ task.created_at|date:"d.m.Y H:i" }} / {{ project.updated_at|date:"d.m.Y H:i"|default:"-" }}</td>
          <td></td>
          <td>
            <a href="{% url 'tasks:update' task.pk %}">{% trans "Edit" %}</a>
            <br><a href="{% url 'tasks:delete' task.pk %}">{% trans "Delete" %}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}