# исключаем файл с переменными
.env*
# добавляем файл с примером переменных окружения
!.env_example
.venv
__pycache__
.pytest_cache
.git
.gitignore
.vscode
db.sqlite3
# скомпилированные файлы Python
*.pyc
# оптимизированные файлы Python
*.pyo
# если есть папка с загруженными файлами        
media/
# если collectstatic кладёт файлы сюда
staticfiles/   
certbot/

# OS file
.DS_Store

# файл для render.com сервиса - он в образе не нужен
build.sh