# .env
SECRET_KEY=your_secret_keys

# --- настройка POSTGRES (идет до подключения к БД) ---

# POSTGRES_PASSWORD=password
# POSTGRES_USER=user
# POSTGRES_DB=task_manager

# ------

# подключение к БД (необходимо раскомментировать следующую строку)
# для БД, развернутой из docker
# DATABASE_URL=postgresql://user:password@db:5432/task_manager

# для БД в сети
# DATABASE_URL=psql://user:user-password@127.0.0.1:8458/database

#psql://user:user-password@127.0.0.1:8458/database
#│       │     │               │             └── имя базы данных
#│       │     │               └──────────────── адрес сервера: порт psql
#│       │     └──────────────────────────────── пароль
#│       └────────────────────────────────────── пользователь
#└────────────────────────────────────────────── схема (движок)

# нужно для запуска сервера при разработке в режиме отладки
DEBUG = True

SQLITE_URL=sqlite:///my-local-sqlite.db
# /// - указывает, что путь относительный
# Четыре //// → абсолютный путь (/home/user/...).

# Настройка сервера кэширования (Memcached) - стандартные порты
CACHE_URL=memcache://127.0.0.1:11211,127.0.0.1:11212,127.0.0.1:11213

# подключение Rollbar -  трекинг ошибок
ROLLBAR_ACCESS_TOKEN=your_secret_keys_from_rollbar
ROLLBAR_ENV=development  # окружение
#               └── development - разработка
#               └── staging / test — тестовый сервер
#               └── production — deploy

# расположение сервера (локальная сеть/интернет)
SERVER_LOCATION=local
 #                └── local - сервер расположен в локальной сети
 #                └── internet - сервер расположен в интернете
