# compose.yaml
name: task_manager

services:
  nginx:
    image: nginx:1.25-alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
      - static:/static
    depends_on:
      - backend

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "
      uv run python manage.py migrate &&
      uv run python manage.py collectstatic --noinput &&
      uv run gunicorn task_manager.wsgi:application
        --bind 0.0.0.0:8000
      "

  db:
    image: postgres:16
    restart: always
    shm_size: 256mb
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5  
    
volumes:
  pgdata:
  static: