# compose.yaml
name: task_manager

services:
  # NGINX SERVER
  nginx:
    build: ./nginx
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    depends_on:
      - backend

  # Backend server
  backend:
    volumes:
      - static:/static
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "
      uv run python manage.py migrate &&
      uv run python manage.py collectstatic --noinput &&
      uv run gunicorn task_manager.wsgi:application --bind 0.0.0.0:8000
      "

  # PSQL - data base
  db:
    image: postgres:16
    restart: always
    shm_size: 256mb
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5  
    
  # CERTBOT
  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    command: certonly --webroot --webroot-path=/var/www/certbot --email your-email@example.com --agree-tos --no-eff-email --staging -d example.com -d www.example.com


volumes:
  pgdata:
  static:
  certbot_www:
  certbot_etc:
